
@{
    ViewBag.Title = "demoForm";
}

<h2>demoForm</h2>
<form method="post">
    <p>請輸入數字</p>
    <br />
    <input type="text" name="txtA" value="@ViewBag.a" />X2 +
    <input type="text" name="txtB" value="@ViewBag.b" />X+
    <input type="text" name="txtC" value="@ViewBag.c" />=0
    <br />

    <p><input type="submit" value="ok" /></p>
    X= @ViewBag.ANS
</form>

